# Continous Integration.
# Runs on PRs to Master

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  pull_request:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Build docker stack
        run: |
            docker network create traefik
            docker compose -f docker-compose.yml -f docker-compose.test.yml build
            docker compose -f docker-compose.yml -f docker-compose.test.yml up run-tests
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run ktlint with reviewdog
        # You may pin to the exact commit or the version.
        # uses: ScaCap/action-ktlint@58b3c386f5160049b0a1d0f986c56e0d0717140a
        uses: ScaCap/action-ktlint@v1.9.0
        with:
          # GITHUB_TOKEN
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Report level for reviewdog [info,warning,error]
          level: error# optional, default is error
          # Reporter of reviewdog command [github-pr-check,github-pr-review].

          reporter: github-pr-check # optional, default is github-pr-check
          # Fails the current check if any error was found [true/false]
          fail_on_error: false # optional, default is false
          # Print files relative to the working directory
          relative: true # optional, default is true
          # Run KtLint with Android Kotlin Style Guide
